.signin{
    width: 40%;
   background-color: cadetblue;
   border-radius: 10px;
    margin: auto;
    height: 370px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
}

.text{
    text-align: center;
    margin-bottom: 20px;
    color: cyan;
}

@media screen and (max-width:950px){
    
    .signin{
        width:90%;
        margin-top: 100px;
        margin-bottom: 100px;
        /* display: flex; */
        margin: auto;
        /* border: 1px solid #FA5D00 ; */
        padding: 40px;
    }
    
}